@import "../../global.scss";

.tours {
  padding: 5rem 0;

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem 2rem;

    .item {
      background-color: $bg-primary;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

      .itemImg {
        position: relative;
        img {
          width: 100%;
          height: 250px;
        }
        .date {
          position: absolute;
          bottom: 4px;
          right: 0;
          font-size: 14px;
          padding: 10px;
          color: $dark-blue;
          background-color: $light-cyan;
        }
      }

      .itemContent {
        padding: 25px;

        h3 {
          font-size: 18px;
          letter-spacing: 5px;
        }
        p {
          margin: 20px 0;
          color: $light-blue;
        }

        .itemInfo {
          display: flex;
          justify-content: space-between;
          color: $cyan;
        }
      }
      &:hover {
        transform: scale(1.03);
        transition: all 0.5s ease;
      }
    }
  }
}
