@import "../../global.scss";

.services {
  background-color: $bg-primary;
  padding: 5rem 0;
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    .item {
      display: flex;

      svg {
        margin-right: 15px;
        padding: 20px;
        font-size: 30px;
        background-color: $cyan;
        color: $dark-green;
      }

      h3 {
        font-size: 18px;
        letter-spacing: 5px;
        margin-bottom: 5px;
      }

      p {
        font-size: 16px;
        color: $light-blue;
      }
    }
  }
}
