@import "../global.scss";

.slider {
  // height: 100vh;
  text-align: center;

  .item {
    position: relative;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
    h2 {
      margin: 10px 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    .title {
      color: $purple;
      text-transform: capitalize;
    }

    .desc {
      line-height: 1.6;
      margin-top: 20px;
      color: $light-gray;
    }

    .btnLeft {
      position: absolute;
      left: -50px;
      top: 50%;
      background-color: $light-gray;
      border: none;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }

    .btnRight {
      position: absolute;
      right: -50px;
      top: 50%;
      background-color: $light-gray;
      border: none;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
  }
}
