$light-blue: #8bcbf9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  background-color: #f7fafc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-primary {
  color: $light-blue;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  h1 {
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .bars {
    opacity: 0;
  }

  nav {
    max-width: 1100px;
    padding: 0 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .list-container {
      // height: auto;
      .list {
        display: flex;

        li {
          margin: 0 5px;

          a {
            text-transform: capitalize;
            color: #000;
          }
        }
      }
    }
    .social {
      a {
        color: $light-blue;
        margin: 0 5px;
      }
    }
  }
}

@media (min-width: 850px) {
  .list-container {
    height: auto !important;
  }
}

@media (max-width: 850px) {
  .navbar {
    nav {
      position: relative;
      .list-container {
        // opacity: 0;
        background-color: #fff;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 0 2rem;
        overflow: hidden;
        transition: all 0.3s ease;
        .list {
          flex-direction: column;
          li {
            margin: 12px 0;

            transition: all 0.3s ease;
            &:hover {
              padding-left: 1rem;
            }
          }
        }

        // &.active {
        //   opacity: 1;
        // }
      }
    }
    .social {
      display: none;
    }

    .bars {
      display: block;
      opacity: 1;
      font-size: 25px;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
